PORT=3000
NODE_ENV=production

FIRATFLIX_PROXY_MODE=always
FIRATFLIX_FORCE_PROXY_IMAGES=true
FIRATFLIX_FORCE_PROXY_STREAMS=true
FIRATFLIX_ALLOWED_AUTH_HOSTS=iptv.darktv.in

FIRATFLIX_DEFAULT_SOURCE_TYPE=xtream
FIRATFLIX_DEFAULT_SOURCE_LABEL=DarkTV Xtream Default Source

FIRATFLIX_DEFAULT_PLAYLIST_URL=
FIRATFLIX_DEFAULT_EPG_URL=

FIRATFLIX_DEFAULT_BASE_URL=http://iptv.darktv.in
FIRATFLIX_DEFAULT_USERNAME=Kenan.meral
FIRATFLIX_DEFAULT_PASSWORD=anzNbte
FIRATFLIX_DEFAULT_OUTPUT=m3u8
